# Versioning and metadata
.git
.gitignore
.dockerignore
.github

.vscode
# Build dependencies
dist.do
node_modules

# Environment (contains sensitive data)
*.env*

# Misc
.eslintrc.js
.prettierrc
README.md

infra/*
skaffold.yaml
.prettierrc
.eslintrc